/* Google Fonts Import Link */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
li {
  list-style: none;
  /* height: 2.5rem; */
}
a {
  text-decoration: none;
  color: #11101d;
  font-weight: 550;
  text-transform: capitalize;
}
i {
  font-size: 1.5rem;
  transform: translateX(-0.15rem);
}

.home-section {
  position: relative;
  background: url("./svg/bottom-right.png") no-repeat right bottom;
  height: 100vh;
  left: 260px;
  width: calc(100% - 260px);
  transition: all 0.5s ease;
}

.home-section .home-content {
  height: 60px;
  display: flex;
  align-items: center;
}
.home-section .home-content .bx-menu,
.home-section .home-content .text {
  color: #11101d;
  font-size: 35px;
}
.home-section .home-content .bx-menu {
  margin: 0 15px;
  cursor: pointer;
}
.home-section .home-content .text {
  font-size: 26px;
  font-weight: 600;
  padding-left: 25px;
  padding-top: 25px;
}
@media (max-width: 400px) {
  .home-section {
    left: 78px;
    width: calc(100% - 78px);
    z-index: 100;
  }
}

.home-section .home-img {
  padding-left: 33%;
  padding-top: 200px;
}

.sidebar {
  position: fixed;
  height: 100%;
  width: 240px;
  border-right: solid 3px #eff2f6;
  transition: all 0.5s ease;
  background: url("./svg/top-left.png") no-repeat;
}
.links {
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2rem 0 0 2rem;
}
.list-item {
  transition: all linear 0.3s;
  padding: 0.5rem 0;
}

.icon-link {
  display: flex;
  align-items: center;
}
.link_name {
  padding: 0 1rem;
}
.submenu {
  display: none;
  height: 5rem;
}
.sidebar-arrow {
  transition: all linear 0.1s;
  transform-origin: center;
  height: 0.6rem;
  display: grid;
  place-content: center;
}

.list-item.show {
  > .submenu {
    display: block;
  }
  .sidebar-arrow {
    transform: rotate(180deg);
  }
}
.submenu-item {
  cursor: pointer;
  background-color: hsla(262, 82%, 43%, 0.089);
  border-radius: 0.4rem;
  /* height: 2rem; */
  font-size: 0.8rem;
  font-weight: 500;
  width: 10rem;
  margin: 0.8rem 0;
  padding: 0.5rem 0 0.5rem 2rem;
  > a {
    color: hsla(262, 82%, 43%, 0.597);
  }
}
.icons {
  width: 1.2rem;
}
.indicator {
  background-color: #7588ec;
  height: 1.3rem;
  width: 1.3rem;
  border-radius: 50%;
  color: white;
  display: grid;
  place-content: center;
  font-weight: 100;
  font-size: 0.75rem;
  margin-left: 1.4rem;
}
